.header_type_01 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 7px;
  border-bottom: 1px solid #ccc;
  font-size: 12px;
}

.header_type_01 .title {
  color: #333;
}

.header_type_01 .more {
  color: #666;
  font-weight: normal;
}

.header_type_01 .more:hover {
  text-decoration: underline;
}