.header{
  position: absolute;
  left: 0;
  top: 42px;
  width: 100%;
  min-width: 1300px;
  height: 84px;
  z-index: 99;
  background: rgba(0,0,0,0.8);
}

.header .header-nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 1300px;
  height: 84px;
  margin: 0 auto;
}

.header-nav .logo {
  width: 230px;
}
.header-nav .logo a {
  position: absolute;
  left: 0;
  top: 16px;
  width: 200px;
  height: 54px;
  text-indent: -9999px;
  background: url("../images/header-imgs/wzry-logo.png") no-repeat center center;
}

.header-nav .nav {
  display: flex;
  width: 890px;
}

.header-nav .nav .item {
  width: 115px;
  height: 84px;
}
.header-nav .nav .item a {
  display: block;
  width: 110px;
  height: 64px;
  padding: 20px 0 0;
  line-height: 30px;
  text-align: center;
  color: #c9c9dd;
  font-size: 18px;
}
.header-nav .nav .item span {
  display: block;
  padding-top: 5px;
  font-size: 12px;
  line-height: 16px;
  color: #858792;
}

.header-nav .nav .item:hover{
  background: url("../images/header-imgs/header-sprite-01.webp") no-repeat;
}
.header-nav .nav .item:hover a {
  color: #e4b653;
}
.header-nav .nav .item:hover span {
  color: #91763f;
}

.header-nav .login {
  display: flex;
  flex: 1;
  padding-top: 20px;
}

.header-nav .login .login-logo {
  display: block;
  width: 42px;
  height: 42px;
  margin-right: 7px;
}
.header-nav .login .login-logo  img {
  width: 100%;
  height: 100%;
  border: 1px solid #d9ad50;
  border-radius: 42px;
}

.header-nav .login .unlogin a {
  color: #ffffff;
  font-size: 16px;
  
}
.header-nav .login .unlogin p {
  margin-top: 2px;
  color: #858792;
}

.main {
  height: 300px;
  background-color: rgb(135, 232, 125);
}